body {
    color: #888;
}

h1 {
    font-size: 2em;
}

header a {
    color: #888;
}

nav.navbar li {
    text-transform: lowercase;
}

.contact-box {
    background-color: #eee;
    border: 1px solid #ccc;
    border-radius: 6px;
}

.contact-box div:nth-child(2) {
    display: flex;
    border: 1px solid black;
}

.contact-box .btn {
    margin: auto;
}

.info .btn-info {
    float: right;
}

.ctr-infobox {
    background-color: #53728e;
    border-color: #205b8e;
    color: rgba(255,255,255,0.85);
    padding: 4%;
}

.ctr-infobox h1 {
    color: #fff;
}

.ctr-infobox span.fa {
    color: #a2bc65;
    font-size: 4em;
    background-color: #fff;
    width: 80px;
    height: 80px;
    line-height: 80px;
    border-radius: 99px;
    text-align: center;
}

.ctr-infobox .btn::after {
    content: ">";
}
