/* Begin Header Styles */
header a {
  color: #888; }

header .row {
  padding: 1%; }

nav.navbar li {
  text-transform: lowercase; }

#contactInfo {
  padding: 0; }
  #contactInfo ul {
    float: right;
    padding: 0;
    font-size: 13px; }
  #contactInfo ul li {
    padding: 0 0.75em; }

#logo form button {
  background-color: #3B86B0;
  color: #fff;
  float: right; }

#login p {
  float: right; }

#search {
  margin-top: 3.5%; }
  #search div.form-group {
    overflow: hidden;
    padding-right: .25em; }
  #search div.form-group input.form-control {
    width: 100%; }

/* Begin Footer styles */
footer {
  background: #262626;
  color: #777;
  padding: 0 2%; }
  footer h2 {
    color: #fff;
    font-size: 1.25em; }
  footer ul {
    padding: 0; }
  footer ul li,
  footer p {
    font-size: 0.9em; }
  footer a {
    color: #777; }
    footer a:hover, footer a:active {
      color: #fff;
      text-decoration: none; }

#followUs .fb_follow,
#twitter-widget-0 {
  display: block; }

#followUs ul li {
  padding: 2% 0; }

#copyright {
  padding: 1.25% 0;
  background: #222; }

/* Begin index content styles */
.contact-box {
  background-color: #eee;
  border: 1px solid #ccc;
  border-radius: 6px; }
  .contact-box div:nth-child(2) {
    display: flex; }
  .contact-box .btn {
    margin: auto; }

.info .btn-info {
  float: right; }

.ctr-infobox {
  background-color: #53728e;
  border-color: #205b8e;
  color: rgba(255, 255, 255, 0.85);
  padding: 4%; }
  .ctr-infobox h1 {
    color: #fff; }
  .ctr-infobox span.fa {
    color: #a2bc65;
    font-size: 4em;
    background-color: #fff;
    width: 80px;
    height: 80px;
    line-height: 80px;
    border-radius: 99px;
    text-align: center; }
  .ctr-infobox .btn::after {
    content: ">"; }

/* Begin About content styles */
#volunteer-history {
  background: #E6E6E6;
  height: auto; }
  #volunteer-history #volunteer, #volunteer-history #history {
    padding-bottom: 30px; }

#benefits {
  margin-bottom: 150px; }
  #benefits .btn {
    height: 75px;
    line-height: 75px;
    margin-left: 10px;
    margin-right: 10px; }

/* Begin Core Styles */
body {
  color: #888; }

h1 {
  font-size: 2em; }
