// Styles the content in about.html
/* Begin About content styles */ 
#volunteer-history {
    background: lighten($gray, 30%);//#E6E6E6;
    height: auto;
    #volunteer, #history {
        padding: {
            bottom: 30px;
        }
    }
}

#benefits {
    margin-bottom: 150px;
    .btn {
        height: 75px;
        line-height: 75px;
        margin: {
            left: 10px;
            right: 10px;
        }
        
    }
}